.style-lis a {
    margin-top: 10px;
    font-weight: 800;
    font-size: 18px;
    color: white;
}

.style-lis a:hover {
    color: black;
}

.logo {
    width: 90px;
}

.bloco {
    border: 1px solid #aaa;
    box-shadow: 1px 1px 1px #999;
    margin-bottom: 100px;
}

.bloco h4 {
    margin-top: 10px;
}

.bloco img {
    width: 100%;
}


.bloco p button {
    margin-right: 10px;
    border-radius: 5px;
}

.icons {
    margin: 5px;
}

.form-body {
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 10px 20px;
}